<div id="top" class="mt-1">
  <h1>Code and RECode... everyone need some help</h1>
  <form>
    <div class="input-group">
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="who you are?!" />
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary btn-sm">Start RECoding</button>
      </div>
    </div>

    <div class="input-group">
      <%= text_area_tag :code, '', class: 'form-control mt-1 mb-1', placeholder: 'Your code', rows: 10, data: { reflex: 'keyup->Code#capture', controller: 'home'} %>
    </div>
  </form>
</div>

<pre id="code_formatted"></pre>